---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { format } from "date-fns";

export async function getStaticPaths() {
  const pages = await getCollection("news");

  const paths = pages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });

  return paths;
}

const { lang, slug } = Astro.params;
const page = Astro.props;
const formattedDate = page.data.date.toLocaleDateString(lang, {
  dateStyle: "medium",
});

const { Content } = await page.render();
---

<Layout title={page.data.title} description={page.data.description} lang={lang}>
  <article>
    <h1 class="mb-0">{page.data.title}</h1>
    <span class="my-0">
      {page.data.author} • <date datetime={format(page.data.date, "yyyy-MM-dd")}
        >{formattedDate}</date
      ></span
    >

    <Content />
  </article>
</Layout>
